table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-row:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.mat-input-small {
  max-width: 200px;
}

#code_check{color:red};