<h1 mat-dialog-title>Edit Values</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td *ngFor="let eachKey of data['row'] | keyvalue | modifyTable:data['col']" class="pl-4">
        <mat-form-field  appearance="outline">
            <mat-label>{{eachKey.key}}</mat-label>
          <input matInput placeholder="{{eachKey.key}}"  [value]="eachKey.value" [formControlName]="eachKey.key" >
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="default" (click)="onNoClick()">Close</button>
  <button mat-raised-button color="primary" (click)="updateData()" [mat-dialog-close]="form.value" cdkFocusInitial>Update</button>
</div>
