<div class="wrapper">

    <!-- Dashboard Sidebar -->
    <div class="sidebar" data-color="purple" data-background-color="white"
        data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar  *ngIf="currentUser" ></app-sidebar>
        <app-messagebar  *ngIf="!currentUser"></app-messagebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>

    <!-- Message Notice Sidebar -->


    <ng-http-loader 
        [backdrop]="true"
        [backgroundColor]="'#333'"
        [debounceDelay]="100"
        [extraDuration]="0"
        [minDuration]="10"
        [opacity]=".6"
        spinner="sk-wave">
    </ng-http-loader>
<!-- Main Content -->
    <div class="main-panel">
        <app-navbar *ngIf="currentUser"></app-navbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>