<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Sub Assemblies</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="myForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-12">
                                  <ng-select [items]="allDepts"
                                    bindLabel="name"
                                    autofocus
                                    bindValue="id"
                                    placeholder="Department"
                                    formControlName="department"
                                    (change)="changeDepartment()">
                                  </ng-select>  
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div style="color: red;" *ngIf="assembly_check==true">Enter A Sub Assembly For The Selected Department</div>
                              </div>
                              <div class="col-md-6">
                                <button mat-icon-button type="button" class="btn btn-primary pull-right" (click)="addAssembly()"><mat-icon>add</mat-icon></button>
                              </div>
                            </div>
                            <div formArrayName="assemblies">
                              <div *ngFor="let line of assemblyForms.controls; let i=index" [formGroupName]="i">
                                <div class="row">
                                  <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Sub Assembly Name" formControlName="assembly_name" autocomplete="off">
                                    </mat-form-field>       
                                  </div>
                                  <div class="col-md-2">
                                      <span>
                                        <button (click)="deleteAssembly(i)"  mat-icon-button color="warn">
                                          <mat-icon>clear</mat-icon>
                                        </button>
                                      </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-md-12">
                                <button mat-raised-button type="button" class="btn btn-success" (click)="submitForm()" [disabled]="!myForm.valid">Insert</button>
                                <button mat-raised-button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  </div>
  