<div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">Permissions</h4>
                      </div>
                      <div class="card-body">
                        <form [formGroup]="myForm" autocomplete="off">
                            <div class="row">
                              <div class="col-md-12">
                                <ng-select [items]="allDepts"
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Department"
                                    formControlName="department"
                                    (change)="changeDepartment()">
                                </ng-select>  
                              </div>
                            </div>
                        </form> 
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">
                                
                                  <ng-container matColumnDef="empId">
                                    <th mat-header-cell *matHeaderCellDef> Employee Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                                  </ng-container>
  
                                
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                  </ng-container>
  
                                
                                  <ng-container *ngFor="let eachKey of permissionCols" [matColumnDef]="eachKey">
                                    <th mat-header-cell *matHeaderCellDef>{{ eachKey }}</th>
                                    <td mat-cell *matCellDef="let row">
                                      <mat-checkbox (click)="$event.stopPropagation()" (change)="changePermission(row['empId'],permissionIdKey[eachKey],$event.checked,row['name'],eachKey)"[checked]="row[eachKey]" [disabled]="toggleBool"></mat-checkbox>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                            </div>
                          </div>   
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
  </div>
    